= link_to destroy_user_session_path, class: "dropdown-item has-icon text-danger" do
    %i.fas.fa-sign-out-alt
    %span Logout
%h1 Profile
= @user.fullname
%br/
= @user.email
%br/

= render 'groups/index'