%div{class:"flex flex-col md:flex-row items-center justify-between w-full mt-10"}
  %h1.text-2xl.font-bold.text-my-blue.px-6.md:px-0 Assignments
  - if current_user.role == 'teacher'
    = link_to new_group_assignment_path(@group), :class => "text-white flex self-center px-8 py-2 rounded bg-my-blue hover:bg-my-blue hover:opacity-80 flex items-center justify-center transition duration-250" do 
      %span{class: "text-white text-base"} Create Assignment 
  
.w-full.mt-10
  %table#assignments.stripe.hover.w-full.mt-10.py-8
    %thead.bg-my-light-blue.w-full
      %tr
        %th.py-3.px-6.text-xs.font-medium.tracking-wider.text-left.text-gray-700.uppercase.dark:text-gray-400{scope: "col"} Title
        %th.py-3.px-6.text-xs.font-medium.tracking-wider.text-left.text-gray-700.uppercase.dark:text-gray-400{scope: "col"} Instructions
        %th.py-3.px-6.text-xs.font-medium.tracking-wider.text-left.text-gray-700.uppercase.dark:text-gray-400{scope: "col"} Submissions
        %th.py-3.px-6.text-xs.font-medium.tracking-wider.text-left.text-gray-700.uppercase.dark:text-gray-400{scope: "col"} Actions

    %tbody{class: "bg-white w-full"}
      - for assignment in @group.assignments
        %tr
          %td.py-4.px-6.text-sm.font-medium.whitespace-nowrap
            =assignment.title
          %td.py-4.px-6.text-sm.font-medium.whitespace-nowrap
            =assignment.instructions
          %td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-sm.leading-5
            = assignment.assignment_submissions.count
          %td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-sm.leading-5.flex.gap-4
            =link_to "View / Submit", group_assignment_path(@group, assignment) 


:javascript
  var table = $('#assignments').DataTable( {
    responsive: true
  } )
  .columns.adjust()
  .responsive.recalc();