%div{class: "pt-20 flex flex-col items-center justify-center text-gray-800 w-full"}
  %div{class: "container-banner flex w-full h-40 bg-cover"}
    = image_tag "ScienceBanner.jpg", :class => 'flex-shrink-0 min-w-full min-h-full'
  %div{class: "container-buttons flex"}
    %button{class: "w-80 px-8 py-1"}View Activities
    %button{class: "w-80 px-8 py-1"}Create Activity
  %div{class: "container-create-post flex"}
  %div{class: "container-discussions flex flex-col"}
    %div{class: "container-discussions-title flex"}