Welcome to Educ Network, #{@user.fullname} 
===============================================

You have been added to the group "#{@group.name}",

To login to the site, just follow this link: #{ENV['BASE_URL']}.

Have a great day!