@import "tailwindcss/base";
@import "tailwindcss/components";

// You can add your own custom components/styles here

@import "tailwindcss/utilities";
@import "font-awesome";

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;    
}