@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;    
}

#menu-toggle:checked+#menu {
  display: block;
}