.flex.flex-wrap.gap-2.py-6
  - @activities.each do |activity|
    .p-6.max-w-sm.bg-white.rounded-lg.border.border-gray-200.shadow-md.dark:bg-gray-800.dark:border-gray-700.flex.flex-col.justify-between
      %div
        %h5.mb-2.text-2xl.font-bold.tracking-tight.text-gray-900.dark:text-white
          = activity.title
        %p.mb-3.font-normal.text-gray-700.dark:text-gray-400
          = activity.instructions
      %div
        = link_to "View", group_activity_path(@group, activity), :class => "py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 visited:text-white"
  
  .p-6.max-w-sm.bg-white.rounded-lg.border.border-gray-200.shadow-md.dark:bg-gray-800.dark:border-gray-700.flex.flex-col.justify-between
    %div
      %h5.mb-2.text-2xl.font-bold.tracking-tight.text-gray-900.dark:text-white
        New Activity
    %div
      = link_to "Create", new_group_activity_path(@group), :class => "py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 visited:text-white"