%div{ class: "header w-screen flex items-center border-gray-200 h-20 border-b shadow text-gray-700" }
  %div{ class: "container bg-white py-2 md:py-4 w-screen" }
    %div{ class: "px-4 mx-auto md:flex md:items-between justify-between w-screen"}
      %div{ class: "flex gap-8 justify-center items-center"}
        %div{ class: "flex justify-between items-center"}
          %h1{ class: "logo-container font-bold text-3xl"}InsertLogoHere
        - if user_signed_in?
          %div{ class: "flex gap-4 items-between"}
            %div{ class: "flex p-2 items-center justify-center lg:px-4 md:mx-2 gap-2 hover:text-white hover:bg-my-pink rounded transition-colors duration-250 w-36"}
              %i{ class: "fas fa-home fa-2x"}
              %button{ class: "font-bold"} HOME
            %div{ class: "flex p-2 items-center justify-center lg:px-4 md:mx-2 gap-2 hover:text-white hover:bg-my-pink rounded transition-colors duration-250 w-36"}
              %i{ class: "fas fa-graduation-cap fa-2x"}
              %button{ class: "font-bold"} CLASSES
            %div{ class: "flex p-2 items-center justify-center lg:px-4 md:mx-2 gap-2 hover:text-white hover:bg-my-pink rounded transition-colors duration-250 w-36"}
              %i{class:"fas fa-comments fa-2x"}
              %button{ class: "font-bold"} POSTS
            = link_to destroy_user_session_path, method: :delete, :class => "flex p-2 items-center justify-center lg:px-4 md:mx-2 gap-2 font-bold hover:text-white hover:bg-my-pink rounded transition-colors duration-250 w-36" do
              %i{class:"fas fa-pencil-alt fa-2x"}
              ACTIVITY
      - if user_signed_in?
        = link_to "LOGOUT", destroy_user_session_path, method: :delete, :class => "flex items-center justify-center gap-2 font-bold px-4 py-2 hover:text-white hover:bg-my-pink rounded transition-colors duration-250 w-36"

