%div{ class: "header border-gray-200 border-b w-screen text-gray-700" }
  %div{ class: "container bg-white py-2 md:py-4 w-screen" }
    %div{ class: "px-4 mx-auto md:flex md:items-between justify-between w-screen"}
      %div{ class: "flex gap-8 justify-center items-center"}
        %div{ class: "flex justify-between items-center"}
          %h1{ class: "logo-container font-bold text-3xl"}InsertLogoHere
        %div{ class: "flex gap-4 items-between"}
          %div{ class: "flex"}
            %button{ class: "p-2 lg:px-4 md:mx-2 font-bold hover:text-white hover:bg-my-pink rounded transition-colors duration-250"} HOME
          %div{ class: "flex"}
            %button{ class: "p-2 lg:px-4 md:mx-2 font-bold hover:text-white hover:bg-my-pink rounded transition-colors duration-250"} CLASSES
          %div{ class: "flex"}
            %button{ class: "p-2 lg:px-4 md:mx-2 font-bold hover:text-white hover:bg-my-pink rounded transition-colors duration-250"} POSTS
          %div{ class: "flex"}
            %button{ class: "p-2 lg:px-4 md:mx-2 font-bold hover:text-white hover:bg-my-pink rounded transition-colors duration-250"} ACTIVITY
      %div
        %button{ class: "p-2 lg:px-4 md:mx-2 font-bold hover:text-white hover:bg-my-pink rounded transition-colors duration-250"} LOGIN

