<nav class="bg-white border-b">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <h1 class="text-3xl font-bold">Insert Logo Here</h1>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <% if user_signed_in? %>
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <%= link_to root_path, :class => "flex items-center justify-center gap-2 text-gray-700 hover:bg-my-pink hover:text-white px-3 py-2 rounded-md text-sm font-medium" do %>
                <i class="fas fa-home fa-2x"></i>
                <h1 class="font-bold">HOME</h1>
              <% end %>

              <%= link_to users_classes_path, :class => "flex items-center justify-center gap-2 text-gray-700 hover:bg-my-pink hover:text-white px-3 py-2 rounded-md text-sm font-medium" do %>
                <i class="fas fa-graduation-cap fa-2x"></i>
                <h1 class="font-bold">CLASSES</h1>
              <% end %>

              <%= link_to users_classes_path, :class => "flex items-center justify-center gap-2 text-gray-700 hover:bg-my-pink hover:text-white px-3 py-2 rounded-md text-sm font-medium" do %>
                <i class="fas fa-comments fa-2x"></i>
                <h1 class="font-bold">MESSAGES</h1>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <% if user_signed_in? %>
          <div class="ml-4 flex items-center md:ml-6">
            <%= link_to destroy_user_session_path, method: :delete, :class => "flex items-center justify-center gap-2 text-gray-700 hover:bg-my-pink hover:text-white px-3 py-2 rounded-md text-sm font-medium" do %>
              <i class="fas fa-sign-out-alt fa-2x"></i>
              <h1 class="font-bold">SIGN OUT</h1>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>