<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div>
  <nav class="bg-white  border-b shadow">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-20  text-gray-700">

        <div class="flex items-center">
          <div class="flex-shrink-0">
            <h1 class="text-3xl font-bold">Insert Logo Here</h1>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

              <div class="flex items-center justify-center gap-2 text-gray-700 hover:bg-my-pink hover:text-white px-3 py-2 rounded-md text-sm rounded transition-colors duration-250 ">
                <i class="fas fa-home fa-2x"></i>
                <button class="font-bold" aria-current="page">HOME</button>
              </div>

              <div class="flex items-center justify-center gap-2 text-gray-700 hover:bg-my-pink hover:text-white px-3 py-2 rounded-md text-sm rounded transition-colors duration-250 ">
                <i class="fas fa-graduation-cap fa-2x"></i>
                <button class="font-bold" aria-current="page">CLASSES</button>
              </div>

              <div class="flex items-center justify-center gap-2 text-gray-700 hover:bg-my-pink hover:text-white px-3 py-2 rounded-md text-sm rounded transition-colors duration-250 ">
                <i class="fas fa-comments fa-2x"></i>
                <button class="font-bold" aria-current="page">POSTS</button>
              </div>

              <div class="flex items-center justify-center gap-2 text-gray-700 hover:bg-my-pink hover:text-white px-3 py-2 rounded-md text-sm rounded transition-colors duration-250 ">
                <i class="fas fa-pencil-alt fa-2x"></i>
                <button class="font-bold" aria-current="page">ACTIVITY</button>
              </div>
            </div>
          </div>
        </div>



        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="bg-white inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Heroicon name: outline/menu

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
          <div class="flex items-center justify-center gap-2 text-gray-700 hover:bg-my-pink hover:text-white px-3 py-2 rounded-md text-sm rounded transition-colors duration-250 ">
            <i class="fas fa-sign-out-alt fa-2x"></i>
            <button class="font-bold" aria-current="page">LOGOUT</button>
          </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <button class="text-gray-700 hover:bg-my-pink hover:text-white block px-3 py-2 rounded-md text-base font-bold w-full" aria-current="page">HOME</button>

        <button class="text-gray-700 hover:bg-my-pink hover:text-white block px-3 py-2 rounded-md text-base font-bold w-full">CLASSES</button>

        <button class="text-gray-700 hover:bg-my-pink hover:text-white block px-3 py-2 rounded-md text-base font-bold w-full">POSTS</button>

        <button class="text-gray-700 hover:bg-my-pink hover:text-white block px-3 py-2 rounded-md text-base font-bold w-full">ACTIVITY</button>

      </div>
    </div>
  </nav>
</div>