%div{ class: "p-10 h-screen float-left mt-20 sidebar w-80 text-gray-700" }
  %div{ class: "flex flex-col items-start justify-center gap-8" }
    %div{ class: "user-tag flex items-center justify-start gap-4 border-b gray-100 pb-10 w-full"}
      %i{ class: "fas fa-user-circle text-3xl "}
      %h1{ class: "text-2xl font-bold"}Username
    %div{ class: "user-tag flex flex-col justify-center gap-2 w-full"}
      %div{ class: "flex items-center mb-4 gap-2"}
        %i{class: "fas fa-graduation-cap text-2xl"}
        %h1{ class: "text-lg font-bold"}MY CLASSES
      %div{ class: "class-items-list flex flex-col items-center justify-center w-full "}
        %div{ class: "flex items-center py-1 px-4 gap-2 w-full hover:text-white hover:bg-my-pink rounded transition-colors duration-250 cursor-pointer"}
          %i{class:"fas fa-circle fa-xs"} 
          %h1{ class: "text-lg"}Class 1
        %div{ class: "flex items-center py-1 px-4 gap-2 w-full hover:text-white hover:bg-my-pink rounded transition-colors duration-250 cursor-pointer"}
          %i{class:"fas fa-circle fa-xs"} 
          %h1{ class: "text-lg"}Class 2
        %div{ class: "flex items-center py-1 px-4 gap-2 w-full hover:text-white hover:bg-my-pink rounded transition-colors duration-250 cursor-pointer"}
          %i{class:"fas fa-circle fa-xs"} 
          %h1{ class: "text-lg"}Class 3
        %div{ class: "flex items-center py-1 px-4 gap-2 w-full hover:text-white hover:bg-my-pink rounded transition-colors duration-250 cursor-pointer"}
          %i{class:"fas fa-circle fa-xs"} 
          %h1{ class: "text-lg"}Class 4

    %div{ class: "create-class-button flex items-center justify-center rounded-full border-2 py-1 px-6 gap-2 font-bold hover:bg-my-teal hover:text-white rounded transition-colors duration-250 cursor-pointer"}
      %i{ class:"fas fa-plus"} 
      %h1{ class: "text-base" }Create a Class